
<div>
	<div data-dojo-attach-point="formContent" >
		<table cellpadding="0" cellspacing="2">
			<tr>
				<td valign="top"><strong><div data-dojo-attach-point="fNameLabel"></div> </strong></td>
				<td><input data-dojo-attach-point="fName"/></td>
			</tr>
			<tr>
				<td valign="top"><strong><div data-dojo-attach-point="lNameLabel"></div> </strong></td>
				<td><input data-dojo-attach-point="lName"/></td>
			</tr>
			<tr>
				<td valign="top"><strong><div data-dojo-attach-point="tnLabel"></div> </strong></td>
				<td><input data-dojo-attach-point="tn"/></td>
			</tr>
		</table>
		<button data-dojo-attach-point="submitButtonAP"></button>
	</div>
	<div data-dojo-attach-point="submitFormSuccessMessageAP"></div>
</div>





	
